*{
  margin: 0px;
  padding: 0px;
}

$font-stack:    Helvetica, sans-serif;
$primary-color: #ff0000;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
nav{
  margin-bottom: 30px;
}
.login_form_container{
  margin-top: 80px;
}


.center{
  img{
    margin:0 auto;
  }
  text-align: center;
}

.comic-item{
  min-height: 52px;
  padding-bottom: 30px;
   margin-bottom: 30px;
}
.tag {
    position: absolute;
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
}
.store-container {
  float: left;
  margin: 10px;
  width: 680px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 1px solid #333;
}

.owned-container {
  float: left;
  margin: 10px;
  width: 680px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 1px solid #333;
}

.comic {
  background-color: white;
  border-radius: 10px;
  height: 250px;
  margin: 20px;
  padding: 10px;
}

.comic-thumbnail-container {
  float: left;
  margin: 10px;
}

.comic-data-container {
  float: left;
  margin: 10px;
}

.comic-thumbnail {
  width: 150px;
}

.selected {
  background-color: limegreen;
}